<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Verfügbare Datenbanken</title>
</head>
<body>
    <h1>Verfügbare Datenbanken</h1>
    <ul>
        {% for db in databases %}
        <li>
            <a href="{{ url_for('edit_database', database=db) }}">{{ db }}</a>
        </li>
             <a href="{{ url_for('edit_database', database=db) }}">{{ db }}</a>
        </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('create_database') }}" method="post">
    <label for="dbname">Neue Datenbank erstellen:</label>
    <input type="text" id="dbname" name="dbname">
    <button type="submit">Erstellen</button>
    </form>
</body>
</html>
